body {
    background: url('/static/images/bottles.png') no-repeat center center fixed;
    background-size: cover;
} 

.btn{
    max-height: 40px;
}

.add-btn{
    margin: auto;
    margin-bottom: auto;
    max-height: 40px;
}
