{% extends 'base.html' %}
{% block title %}
Add New Cocktail Recipe
{% endblock %}
{% block content %}
<div class="row">
	<div class="card col-sm-12 col-md-8 center-card">
		<form method="POST" action="/create_new_recipe">
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" id="name" name="name" maxlength="100" required>
                 <small>Max 100 characters</small>
	                </div>
				<div class="form-group">
					<label for="glass_type">Drink type</label>
					<select class="form-control" name="glass_type" id="glass_type">
                        <option value="Collins" >Collins</option>
                        <option value="Tiki" >Tiki</option>
                        <option value="Fizz" >Fizz</option>
                        <option value="Highball" >Highball</option>
                        <option value="Flip" >Flip</option>
                        <option value="Rocks" >Rocks</option>
                        <option value="Coupe" >Coupe</option>
                        <option value="Nick and Nora" >Nick and Nora</option>
                        <option value="Martini" >Martini</option>
                        <option value="Chapange floute" >Chapange floute</option>
                        <option value="Wine Glass" >Wine Glass</option>
                    </select>
				</div>
				<div class="form-row">
					<div class="form-group col-md-2">
						<label for="amount">Amount</label>
						<input type="number" class="form-control" id="amount" >
		            </div>
						<div class="form-group col-md-2">
							<label for="unit">Unit</label>
							<input type="text" class="form-control" id="unit" maxlength="20" >
                             <small>Max 20 characters</small>
		            </div>
							<div class="form-group col-md-3">
								<label for="ingredient">Ingredient</label>
								<select  id="ingredient" class="form-control">
                            {% for ingredient in ingredients %}
                                <option value="{{ ingredient['_id'] }}"> {{ ingredient['ingredient'] }} </option>
                             {% endfor %}
					    </select>
							</div>
							<button id="add-ingredient" type="button" class="add-btn btn btn-success">Add ingredient to recepie</button>
						</div>
						<div id="ingredient-list">
                        <h5>Ingreients added:</h5>
						</div>
						<div class="form-group">
							<label for="description">Description</label>
							<textarea class="form-control" id="description" name="description" maxlength="500" rows="4" required></textarea>
                            <small>Max 500 characters</small>
						</div>
						<div class="form-group">
							<label for="img-url">Image Url</label>
							<input class="form-control" id="img-url" maxlength="500" name="img-url" required>
                </div>
							<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>

{% endblock %}
{% block script %}
<script type="text/javascript">
	$(document).ready(function(){
        let counter = 0; 
        
        $("#add-ingredient").click(function(){

            $("#ingredient-list").append(`  <div class="form-row" id="added_ingredient">
					                            <div class="form-group col-md-2">   
						                        <input type="number" class="form-control" value="${ $("#amount").val() }" id="amount${counter}" name="ingredients">
		                                        </div>
					                            <div class="form-group col-md-2">
						                            <input type="text" class="form-control" value="${ $("#unit").val() }" id="unit${counter}" name="ingredients">
		                                        </div>
					                            <div class="form-group col-md-3">
						                            <select  id="ingredient${counter}" class="form-control" name="ingredients">
                                                        <option value="${ $("#ingredient").val() }">  ${ $("#ingredient option:selected").text() }  </option>
                                                    </select>
                                                </div>
                                                <button type="button" class="delete btn btn-danger"  >Delete</button>
                                            </div> `)
            counter++
            $(".delete").click(function(){
                counter--
                $(this).parent().remove();
        });
        });
    });
</script>
{% endblock %}