{% extends 'base.html' %}
{% block title %}
{{ recipe['name'] }}
{% endblock %}

{% block content %}
<div class="row">
	<div class="card col-sm-12 col-md-8 col-lg-6">
		<div>
			<img src="{{recipe['img-url'] }}" class="card-img-top" alt="image of cocktail">
			<div class="card-body">
				<h5 class="card-title">{{recipe['name']}}</h5>
				<p class="card-text">Glass: {{recipe['glass_type']}}</p>
                Ingredients:
                <ul>
					{% for ingredient in recipe['ingredients'] %}
					<li>{{ingredient[0]}} {{ingredient[1]}} of <a
							href="{{url_for('get_ingredient', ingredient_id=ingredient[2])}}">{{ingredient[3] | capitalize}} </a>
					</li>
					{% endfor %}
				</ul>
				<p class="card-text">{{recipe['directions']}}</p>
				{% if user['_id'] == recipe['author'] %}
				<a href="{{ url_for('delete_recepie', recepie_id=recipe['_id']) }}" class="btn btn-danger">Delete
					recepie</a>
				<a href="{{ url_for('edit_recepie', recepie_id=recipe['_id']) }}" class="btn btn-warning">Edit
					recepie</a>
				{% endif %}
			</div>
		</div>
	</div>
    <div class="card col-sm-12 col-md-8 col-lg-6" >
		<div class="card-body">
	{% for comment in recipe['comments'] %}
			<h5 class="card-title">{{ comment['username'] }}</h5>
			<p class="card-text">{{ comment['message'] }}</p>
            {% if recipe['author'] == session['user_id'] %}
            <form action="/delete_comment/{{ recipe['_id'] }}" method="POST">
			    <div class="form-group">
                    <input type="hidden" class="form-control" id="username" name="username" value="{{ comment['username'] }}">
				    <input type="hidden" class="form-control" id="message_d" name="message_d" value="{{ comment['message'] }}">
			    </div>
			    <button type="submit" class="btn btn-danger">Delete comment</button>
		    </form>
         {% endif %}	
	
	{% endfor %}
	{% if session['username'] %}
		    <form action="/add_comment/{{ recipe['_id'] }}" method="POST">
			    <div class="form-group">
				    <label for="message">Comment</label>
				    <textarea class="form-control" id="message" name="message" rows="4" maxlength="500" required></textarea>
                    <small>Max 500 characters</small>
			    </div>
			    <button type="submit" class="btn btn-primary">Add comment</button>
		    </form>
        </div>
    </div>
</div>
		{% endif %}
	






{% endblock %}

{% block script %}
{% endblock %}