{% extends 'base.html' %}
{% block title %}
Ingredient Info
{% endblock %}

{% block content %}
<div class="row">
{% for ingredient in ingredients %}
	<div class="card col-sm-12 col-md-6 col-lg-4" >
		<img src="{{ ingredient['img-url'] }}" class="card-img-top" alt="image of Ingredient">
		<div class="card-body">
			<h5 class="card-title">{{ingredient['ingredient']}}</h5>
			<p class="card-text">Description:<br>{{ingredient['description']}}</p>
            <p class="card-text">Type: {{ingredient['type']}}</p>
            <p class="card-text">Alcohol: {{ingredient['alcohol']}}</p>
            <p class="card-text">Alcohol content: {{ingredient['abv']}}</p>
		</div>
	</div>
{% endfor %}    
</div>





{% endblock %}

{% block script %}
{% endblock %}