{% extends 'base.html' %}
{% block title %}
{{ cocktail['name'] }}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-12">
		<div class="card" style="width: 30rem;">
			<img src="{{cocktail['img-url'] }}" class="card-img-top" alt="image of cocktail">
			<div class="card-body">
				<h5 class="card-title">{{cocktail['name']}}</h5>
				<p class="card-text">{{cocktail['drink_type']}}</p>
				<ul>
					{% for ingredient in cocktail['ingredients'] %}
					<li>{{ingredient[0]}} {{ingredient[1]}} of <a
							href="{{url_for('get_ingredient', ingredient_id=ingredient[2])}}">{{ingredient[3]}} </a>
					</li>
					{% endfor %}
				</ul>
				<p class="card-text">{{cocktail['directions']}}</p>
				{% if user['_id'] == cocktail['author'] %}
				<a href="{{ url_for('delete_recepie', recepie_id=cocktail['_id']) }}" class="btn btn-danger">Delete
					recepie</a>
				<a href="{{ url_for('edit_recepie', recepie_id=cocktail['_id']) }}" class="btn btn-warning">Edit
					recepie</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		{% for comment in cocktail['comments'] %}
		<div class="card" style="width: 30rem;">
			<div class="card-body">
				<h5 class="card-title">{{ comment['username'] }}</h5>
				<p class="card-text">{{ comment['message'] }}</p>
                {% if cocktail['author'] == session['user_id'] %}
                    <a href="{{ url_for('delete_recepie', recepie_id=cocktail['_id']) }}" class="btn btn-danger">Delete
					comment</a>
                {% endif %}
			</div>
		</div>
		{% endfor %}
		{% if session['username'] %}
		<form action="/add_comment/{{ cocktail['_id'] }}" method="POST">
			<div class="form-group">
				<label for="message">Comment</label>
				<textarea class="form-control" id="message" name="message" rows="4"></textarea>
			</div>
			<button type="submit" class="btn btn-primary">Add comment</button>
		</form>

		{% endif %}
	</div>
</div>





{% endblock %}

{% block script %}
{% endblock %}