{% extends 'base.html' %}
{% block title %}
The Cocktail Collection
{% endblock %}
{% block content %}
<div class="row">
	{% for recepie in recepies %}
	<div class="col-sm-12 col-md-6 col-lg-4">
		<div class="card" >
			<img src="{{ recepie['img-url'] }}" class="card-img-top" alt="image of cocktail">
			<div class="card-body">
				<h5 class="card-title"><a href="{{url_for('get_recepie', recepie_id=recepie['_id'])}}">{{ recepie['name'] }}</a></h5>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}
{% block script %}
{% endblock %}